@import "./app/core/controls/controls.scss";

body {
  font-family: "Open Sans";
  height: 100vh;
  width: 100vw;
}

.clickable {
  :hover {
    cursor: pointer;
  }
}

li {
  list-style: none;
  &:focus {
    outline: none;
  }
}
